
<div class="footer clearfix">
    <div class="personal">
        <img class="avatar" src="img/avatar2.png">
        <p class="motto">学习知识三原则:what,why,how and summary</p>
    </div>
    <div class="nav clearfix">
        <li>
        <a href="https://github.com/PeterCheng1">
             <img src="img/github.jpg" class="git">
        </a>
        </li>
        <li>
        <a href="http://www.jianshu.com/u/395d9c20e971">
            <img src="img/jianshu.jpg" alt="简书">
        </a>   
        </li>
    </div>
</div>
</body>